---
export interface Props {
    title: string;
    body: string;
    img: string;
    link: string;
}

const { img, title, body, link } = Astro.props;
---

<main class="bg-white w-full rounded p-5 flex flex-col justify-evenly">
    <div class="md:h-[auto]">
        <h1 class="text-2xl mb-5">{title}</h1>
        <p class="text-sm lg:text-base text-justify">
            {body}
        </p>
    </div>
    <br />
    <a href={`${link}`}>
        <img src={`/projects/${img}`} alt="projekte" />
    </a>
    <div class="flex items-center text-lg justify-end mt-1">
        <a class="flex items-center" href={`${link}`} target="_blank" rel="noopener noreferrer">
            Website besuchen <img
                class="h-8 pl-2"
                src="/icons/right.png"
                alt="Button"
            />
        </a>
    </div>
</main>
